blinker==1.8.2
click==8.1.7
Flask==3.0.3
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
werkzeug==3.0.4
zipp==3.20.1
gdacs-api==2.0.0
Xmltodict==0.13.0
Cachetools==5.5.0
Pydantic==2.9.1
