<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css" />

    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="/static/bootstrap.bundle.min.js"></script>

    <title>SafeGuard - We keep you safe!</title>
</head>
<body>
    
    <section class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SafeGuard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Solutions
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Air-pollution tracker</a></li>
                                <li><a class="dropdown-item" href="#">Safety tracker</a></li>
                                <li><a class="dropdown-item" href="#">Avoid alien invasion</a></li>
                                </ul>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            <i class="bi bi-shield-fill-check"></i>
                            Trusted by people since 2024
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <section class="hero-area">
        <div class="container">
            <h1>Secure yourself with SafeGuard</h1>
            <h3>Keep yourself and your loved ones safe and connected, wherever you go!</h3>
            <button type="button" class="btn btn-dark btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">Join SafeGuard</button>
            
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Join SafeGuard</h5>
                </div>
                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>

                        <div class="col-md-12">
                            <label for="validationCustom03" class="form-label">Country</label>
                            <input type="text" class="form-control" id="validationCustom01" required>
                            <div class="invalid-feedback">
                                Please provide a valid country.
                            </div>
                        </div>
                    
                        <div class="col-md-12">
                            <label for="validationCustom03" class="form-label">State/Region</label>
                            <input type="text" class="form-control" id="validationCustom02" required>
                            <div class="invalid-feedback">
                                Please provide a valid state or region.
                            </div>
                        </div>
                    
                        <div class="col-12">
                            <label for="validationCustom03" class="form-label">City/Town</label>
                            <input type="text" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Please provide a valid city or town.
                            </div>
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="phone">Phone number with country code</label>
                            <input type="text" id="phone" class="form-control" data-mdb-input-mask-init data-mdb-input-mask="+48 999-999-999" />
                        </div>

                        <div class="col-12">
                            <button class="btn btn-dark rounded-pill" type="submit">Keep me safe!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
      
    <div class="container">
        <h2>How does it work?</h2>
        <div class="d-flex">
            <div class="card" style="width: 18rem;">
                <img src="/static/img/img_forest.jpg" class="card-img-top" alt="Forest">
                <div class="card-body">
                    <h5 class="card-title">Avoid air-pollution</h5>
                    <p class="card-text">Reduce air pollution by using public transport, carpooling, cycling, or walking instead of driving alone.</p>
                    <a href="#" class="btn btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">OK, let's go!</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/img_city.jpg" class="card-img-top" alt="City">
                <div class="card-body">
                            <h5 class="card-title">Bypass crime</h5>
                    <p class="card-text">Avoid crime by staying alert, traveling in groups, avoiding risky areas, and securing your belongings.</p>
                    <a href="#" class="btn btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">OK, let's go!</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/img_space.jpg" class="card-img-top" alt="Space">
                <div class="card-body">
                    <h5 class="card-title">Steer clear of aliens</h5>
                    <p class="card-text">To avoid aliens, stay away from mysterious signals, remote locations, and report any unusual activities.</p>
                    <a href="#" class="btn btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">OK, let's go!</a>
                </div>
            </div>  
        </div>
    </div>

    <footer class="bg-dark">
        <div class="container">
            <p class="text-center small text-bg-dark">&copy; 2024 SafeGuard Squad. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>