<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css" />

    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="/static/bootstrap.bundle.min.js"></script>

    <title>Success</title>
</head>
<body>

    <section class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SafeGuard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Solutions
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Air-pollution tracker</a></li>
                                <li><a class="dropdown-item" href="#">Safety tracker</a></li>
                                <li><a class="dropdown-item" href="#">Avoid alien invasion</a></li>
                                </ul>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            <i class="bi bi-shield-fill-check"></i>
                            Trusted by people since 2024
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <section class="hero-area">
        <div class="container">
            <h1>Success!</h1>
            <h3>Now, you're safe and connected, wherever you go.</h3>
        </div>
    </section>

    <div class="container">
        <h2>How does it work?</h2>
        <div class="d-flex">
            <div class="card" style="width: 18rem;">
                <img src="/static/img/img_forest.jpg" class="card-img-top" alt="Forest">
                <div class="card-body">
                    <h5 class="card-title">Avoid air-pollution</h5>
                    <p class="card-text">Reduce air pollution by using public transport, carpooling, cycling, or walking instead of driving alone.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/img_city.jpg" class="card-img-top" alt="City">
                <div class="card-body">
                            <h5 class="card-title">Bypass crime</h5>
                    <p class="card-text">Avoid crime by staying alert, traveling in groups, avoiding risky areas, and securing your belongings.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/static/img/img_space.jpg" class="card-img-top" alt="Space">
                <div class="card-body">
                    <h5 class="card-title">Steer clear of aliens</h5>
                    <p class="card-text">To avoid aliens, stay away from mysterious signals, remote locations, and report any unusual activities.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark">
        <div class="container">
            <p class="text-center small text-bg-dark">&copy 2024 SafeGuard Squad. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>